.panel-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.panel-section .title{
    padding-bottom: 5rem;
} 

.showcase > img{
    filter: grayscale(100%);
    transition: .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .5s ease-in-out;         
}
.showcase:hover > img{
    filter: grayscale(0%);
    transition: .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;   
} 